html {
  // transition on scroll
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}
.fix-header-nav-wrap {
  position: relative;
  padding: 0 30px;
  .fix-header-nav-track-wrap {
    overflow-x: hidden;
  }
  .prev-nav-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    line-height: 2.5;
    width: 30px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    cursor: pointer;
    user-select: none;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
  .next-nav-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    line-height: 2.5;
    width: 30px;
    text-align: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    cursor: pointer;
    user-select: none;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
  .next-nav-btn.disabled, .prev-nav-btn.disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.3);
  }
}

.fix-header-nav {
  white-space: nowrap;
  flex-wrap: unset;
  li.nav-item {
    display: inline-block;
  }
}

.doc-home {
  .home-banner {
    height: 500px;
  }
  .banner-btn {
    transition: all 0.4s;
    &:hover {
      a.bsprimary {
        color: #fff;
      }
    }
    a.bsprimary {
      color: #007bff;
    }
    a, a:hover {
      color: #6c757d;
      text-decoration: none;
    }
  }
  .home-block {
    flex-basis: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(250, 250, 250);
    border: 2px solid #fff;
    .block-title {
      margin-bottom: 25px;
    }
    .block-btn {
      a, a:hover {
        font-weight: 500;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.doc-sidebar {
  position: sticky;
  top: 60px;
  overflow: hidden;
  transition: all 0.2s;
  border-right: 1px solid rgba(0,0,0,.05);
  &:hover {
    overflow: auto;
  }
}

@media (min-width: 576px) {
  .doc-sidebar {
    height: calc(100vh - 60px);
  }
}

@media (max-width: 576px) {
  .doc-content-text {
    width: 100% !important;
  }
  .doc-search-input {
    width: 40% !important;
  }
}

.sidebar-item {
  a {
    color: rgba(0,0,0,.65);
    font-weight: 500;
    &:hover, &.active {
      color: rgba(0,0,0, .95);
    }
  }

  .nav>li>a {
    font-weight: 400;
    font-size: 14px;
  }
}

.doc-content-header {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.05);
  z-index: 1010;
  box-shadow: 0px 0px 4px rgba(0,0,0,.05);
  .sticky-top-content {
    position: sticky;
    top: 4em;
  }
}

.doc-content-title {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}

.doc-content-text {
  width: 65%;
  margin-left: 10px;
  font-size: 14px;
}

.doc-codesandbox-container {
  padding: 25px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: rgb(238, 238, 238)
}

.doc-content-container {
  // padding: 20px 10px 10px;
}

.doc-nav {
  a {
    color: rgba(0, 0, 0, .5);
    transition: all 0.4s;
    font-weight: 500;
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
}

.doc-view-code-text {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 12px;
  transition: all 0.4s;
  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}

.doc-code {
  padding: 0;
  margin: 0;
  .doc-code-toolbar {
    text-align: end;
    top: 0;
    opacity: 0;
    transition: all 0.4s;
    z-index: 1000;
  }

  .doc-codesandbox-form {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  .doc-codesandbox-submit {
    width: 14px;
    height: 14px;
    border: 0;
    background-color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  .btn-copy {
    color: rgba(0, 0, 0, 0.4);
    height: 18px;
    line-height: 0;
    padding: 2px;
    margin: 2px 5px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #FFF;
    }
  }

  &:hover {
    .doc-code-toolbar {
      opacity: 1;
    }
  }
}

.doc-api-table-container, .doc-style-table-container {
  margin-bottom: 20px;
  table {
    width: 100%;
  }
  table, tr, td, th {
    font-size: 12px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  td {
    padding: 0 5px;
  }

  td, th {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.doc-anchor {
  position: absolute;
  left: 0;
  top: -7.5em;
}

.doc-layout-example-container {
  .row {
    margin-bottom: 5px;
    &>div {
      padding: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: rgb(226, 230, 234);
    }
  }
}
