select.custom {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select.custom::-ms-expand {
  display: none;
}

label.xbrick-lable {
  width: 100%;
}